* {
    margin: 0px;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.maingrid {
    display: grid; 
    width: 100vw; 
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 75px;
    grid-template-rows: 75px 200px 400px 400px;
    grid-template-areas: 
    "he he he na"
    "s1 s1 s1 s1"
    "s2 s2 s2 s2"
    "s3 s3 s3 s3";
}

.he {
    grid-area: he;

}

.na {
    grid-area: na;
}

.s1 {
    grid-area: s1;
    border: 1px solid black; 
}

.s2 {
    grid-area: s2;
    border: 1px solid black; 
}

.s3 {
    grid-area: s3;
    border: 1px solid black; 
}

@media only screen and (min-width: 1024px) {

.maingrid {
    grid-template-rows: 0.6fr 2fr 0.6fr 4fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "he he"
    "s1 s1"
    "na na"
    "s2 s3";
}

}