* {
    margin: 0px;
    box-sizing: border-box;    
}

.maingrid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 0.20fr 0.6fr 0.20fr 1fr;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    "b1 he b2"
    "b3 s1 b4"
    "b5 na b6"
    "b7 s2 b8";
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.b4 {
    grid-area: b4;
}

.b5 {
    grid-area: b5;
}

.b6 {
    grid-area: b6;
}

.b7 {
    grid-area: b7;
}

.b8 {
    grid-area: b8;
}

.header {
    grid-area: he;
    border: 1px solid black; 
}

.s1 {
    grid-area: s1;
    border: 1px solid black; 
}

.na {
    grid-area: na;
    border: 1px solid black; 
}

.s2 {
    grid-area: s2;
    border: 1px solid black; 
}